@model HappyGift.Models.CartViewModels.CartListViewModel
@{
    ViewData["Title"] = "Cart";
}
<div class="container">
    <h2>My Cart</h2>
    @if (Model.CartItems.Any())
    {
        <a asp-controller="Gift" asp-action="CreateGift" class="btn btn-success" style="display: block; margin: auto; width: 10%; margin-top: 20px;">Create Gift</a>
        <div style="text-align: center">Total Price: @Model.TotalPrice USD</div>

        <div class="services">
        @foreach (var item in Model.CartItems)
        {
            <div class="card service">
                <img class="card-img-top" src="@item.ServiceImageURL" />
                <div class="card-body">
                    <h4 class="card-title">@item.ServiceName</h4>
                    <p class="card-text">@item.ServiceDescription</p>
                    <p class="card-text">Price: @item.ServicePrice USD</p>
                </div>
                <a asp-controller="Cart" asp-action="RemoveFromCart"
                   asp-route-cartServiceId="@item.ServiceId" class="btn btn-remove-card">Remove From Cart</a>
            </div>
        }
        </div>
    }
    else
    {
        <h3>No items in your cart yet.</h3>
    }
</div>