@using System.Collections.Generic
@using System.Globalization
@model HappyGift.Models.GiftViewModels.GiftHistoryViewModel
@{
    ViewData["Title"] = "View";
}

<div class="gifts-container">
    <h2>Gifts history of orders</h2>
    <form asp-controller="Gift" asp-action="SortByCity">
        <div class="form-group-gift">
            <label asp-for="@Model.City" class="control-label-gift"></label>
            <input asp-for="@Model.City" class="form-control" type="text" />
        </div>
        <div class="form-group-gift">
            <input type="submit" value="Filter" class="btn btn-edit-card" asp-controller="Gift"
                   asp-action="SortByCity" asp-route-city="@Model.City" />
        </div>
    </form>
</div>




<div class="old-gifts">
    @if (Model.GiftViewModels.Any())
    {
    <ul class="list-group">
        @foreach (var gift in Model.GiftViewModels)
        {
        <li class="list-group-item">
            @if (gift.IsAcceptedByAdmin)
            {
                <div class="alert alert-success">Your gift has been approved. Please check your email for futher information.
                    <div>Your gift will expire on @gift.ExpirationDate.ToString("MMM dd, yyyy", new CultureInfo("en-US"))</div>
                    </div>
            }
            else
            {
                <div class="alert alert-warning">Sorry, your gift has not been reviewed yet.</div>
            }
            <div>City: @gift.City </div>
            <div>Requested Date: @gift.CreatedDate.ToString("MMM dd yyyy hh:mm tt", new CultureInfo("en-US"))</div>
            <div>Price: @gift.TotalPrice</div>
            @foreach (var service in gift.Services)
            {
                <h3> @service.ServiceName  </h3>
                <div> @service.ServiceDescription</div>
            }
        </li>
        }
    </ul>
    }
    else
    {
        <h2>You don't have any gifts yet.</h2>

    }
</div>

