@using System.Collections.Generic
@{
    ViewData["Title"] = "Home Page";
}
<div class="services">
    @foreach (var service in (List<Service>)@ViewData["Services"])
    {
        @if (service.IsDeleted == false)
        {
            <div class="card service">
                <img class="card-img-top" src="@service.ImageUrl" />
                <div class="card-body">
                    <h4 class="card-title">@service.Name</h4>
                    <p class="card-text">@service.Description</p>
                    <p class="card-text">Price: @service.Price USD</p>
                    <p class="card-text">Duration: @service.Duration mins</p>
                    @if (User.Identity.IsAuthenticated)
                    {
                    <a asp-controller="Cart" asp-action="AddToCart" asp-route-serviceId="@service.Id" class="btn btn-add-card">Add To Cart</a>
                    @if (User.IsInRole("Admin"))
                    {
                    <a class="btn btn-edit-card" asp-area="" asp-controller="Service"
                       asp-action="Index" asp-route-serviceId="@service.Id">Edit Service</a>

                    <a class="btn btn-edit-card" asp-area="" asp-controller="Service"
                       asp-action="DeleteService" asp-route-serviceId="@service.Id">Delete Service</a>
                    }
                    }
                </div>
            </div>

        }

    }
</div>
