@using System.Collections.Generic
@using HappyGift.Models.HomeViewModels
@{
    ViewData["Title"] = "Home Page";
}
@model List<HappyGift.Models.HomeViewModels.HomeViewModel>
@foreach (var categoryServices in Model)
{
    <div class="category-name">@categoryServices.Category</div>
    <div class="services">
        @foreach (var service in categoryServices.Services)
        {
            @if (service.IsDeleted == false)
            {
                <div class="card service">
                    <img class="card-img-top" src="@service.ImageUrl" />
                    <div class="card-body">
                        <h4 class="card-title">@service.Name</h4>
                        <p class="card-text">@service.Description</p>
                        <p class="card-text">Price: @service.Price USD</p>
                        <p class="card-text">Duration: @service.Duration mins</p>
                       
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div>
                                <a asp-controller="Cart" asp-action="AddToCart" asp-route-serviceId="@service.Id" class="btn btn-add-card">Add To Cart</a>
                                @if (User.IsInRole("Admin"))
                                {
                                    <a class="btn btn-edit-card" asp-area="" asp-controller="Service"
                                       asp-action="Index" asp-route-serviceId="@service.Id">Edit</a>

                                    <a class="btn btn-edit-card" asp-area="" asp-controller="Service"
                                       asp-action="DeleteService" asp-route-serviceId="@service.Id">Delete</a>
                                }
                            </div>
                        }
                    </div>
                </div>

            }
        }
    </div>
}

